.byebug_history
.env*
.git
.gitignore
.gitlab-ci.yml
.travis.yml
.rubocop.yml
Brewfile
Procfile*
docker-compose-*.yml
Dockerfile
coverage/*
log/*
node_modules/*
public/assets/*
storage/*
tmp/*

config/application.yml
