DATABASE_USER: YOUR_DATABASE_USER
DATABASE_PASS: YOUR_DATABASE_PASSWORD
DATABASE_HOST: YOUR_DATABASE_HOST
DATABASE_NAME: afip_development
DATABASE_PORT: '5432'
PORT: '3001'
RAILS_ENV: 'development'

LOGIN_URL: 'https://wsaahomo.afip.gov.ar/ws/services/LoginCms?wsdl'
WSFE_URL : 'https://wswhomo.afip.gov.ar/wsfev1/service.asmx'
PADRON_A5_URL: 'https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5'

AUTH_TOKEN: CREATE_AUTH_TOKEN
SECRET_KEY_BASE: CREATE_SECRET_KEY_BASE

HOST: PRODUCTION_HOST

# Capistrano
APPLICATION_NAME: YOUR_APPLICATION_NAME
PRODUCTION_SERVER_SSH_NAME: YOUR_PRODUCTION_SERVER_SSH_NAME
REPO_URL: GIT_REPOSITORY_URL
SERVER_APPLICATION_DIRECTORY: APPLICATION_LOCATION_ON_SERVER
SERVER_PG_SYSTEM_DB: 'postgres'
SERVER_PG_SYSTEM_USER: 'postgres'
SERVER_RBENV_BIN_PATH: '$HOME/.rbenv/bin/rbenv'
SERVER_USER: YOUR_SERVER_USER
STAGING_SERVER_SSH_NAME: YOUR_STAGING_SERVER_SSH_NAME
